.text
	p XiamiThief是一款基于虾米音乐网的音乐下载软件.
	p 与同类软件不同, XiamiThief只需要你提供一个VIP帐号, 便能支持下载虾米提供的高音质音乐.
	p 您正在使用的是该软件的v{{ version }}版.
	br
	p.align.end 作者: BlackGlory
	//p.align.end Github:&nbsp
		a(onclick='openBrowser("https://github.com/BlackGlory/XiamiThief");') https://github.com/BlackGlory/XiamiThief
	p.align.end 2014.05.01