<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/ui.css"/>
    <script src="js/angular.min.js"></script>
    <script src="js/phprpc_client.js"></script>
    <script src="js/app.js"></script>
</head>
<body data-ng-app="XiamiThief" data-ng-controller="ControlCtrl">
    <header class="flex-row flex-horizontal-center">
        <section class="title" data-ng-dblclick="zoom()">{{ title }}</section>
        <nav class="control flex-row flex-horizontal-center">
            <section class="button-minimize icon" data-ng-click="minimize()"></section>
            <section data-ng-class="{'button-restore': isMaximize}" class="button-maximize icon" data-ng-click="zoom()"></section>
            <section class="button-close icon" data-ng-click="close()"></section>
        </nav>
    </header>
    <nav class="flex-row flex-horizontal-center">
        <section data-ng-click="changeView('download')">下载</section>
        <section data-ng-click="changeView('option')">设置</section>
        <section data-ng-click="changeView('help')">帮助</section>
    </nav>
    <article id="main" data-ng-view></article>
</body>
</html>
