/*
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    .transparent-black(0.3);
}
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
}
a {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
textarea {
  resize: none;
  background-color: white;
  border: 1px solid black;
  color: black;
}
.no-drag {
  -webkit-app-region: no-drag;
}
.drag {
  -webkit-app-region: drag;
}
.align.left {
  text-align: left;
}
.align.right {
  text-align: right;
}
.align.justify {
  text-align: justify;
}
.align.start {
  text-align: start;
}
.align.end {
  text-align: end;
}
.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}
.flex-column > * {
  -webkit-flex: 1;
  flex: 1;
}
.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
}
.flex-row > * {
  -webkit-flex: 1;
  flex: 1;
}
.flex-center-vertical {
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-center-horizontal {
  -webkit-align-items: center;
  align-items: center;
}
.flex-center {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.no-flex {
  -webkit-flex: none;
  flex: none;
}
.cover {
  background-image: url('../resource/image/cd100.gif');
  background-size: 100%;
}
.hq:before {
  content: "高音质";
}
#bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*
    background-image: url('../resource/image/kirito-sword-art-online-anime-hd-wallpaper-1920x1080-7732.jpg');
    background-attachment: fixed;
    background-size: auto 100%;
    */
  font-size: 12px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  -webkit-text-stroke: 1px transparent;
  -webkit-user-select: none;
  cursor: default;
}
body > * {
  -webkit-flex: 1;
  flex: 1;
}
body > header {
  -webkit-app-region: drag;
  -webkit-flex: none;
  flex: none;
  background-color: #3f51b5;
  height: 80px;
}
label {
  vertical-align: middle;
}
input,
button {
  height: 25px;
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='url'],
input[type='number'] {
  height: 25px;
  width: 200px;
}
input[type='checkbox'],
input[type='radio'] {
  height: 15px;
  width: 15px;
}
button {
  width: 85px;
}
iframe {
  background: initial;
  border: none;
  height: 100%;
  width: 100%;
}
.information {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  margin: 15px 2px 2px 13px;
}
.information > * {
  -webkit-flex: 1;
  flex: 1;
}
.information .avatar {
  -webkit-flex: none;
  flex: none;
  background-image: url('../resource/image/usr100.gif');
  background-size: 100%;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  box-shadow: 0 0 2px black;
  margin-right: 10px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.information .username {
  color: white;
}
nav.control {
  -webkit-app-region: no-drag;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  position: absolute;
  right: 8px;
  top: 0;
  background-color: #303f9f;
}
nav.control > * {
  -webkit-flex: 1;
  flex: 1;
}
nav.control > * {
  width: 32px;
  height: 23px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}
nav.control > *:hover {
  background-color: #3498db;
}
nav.control .button-menu {
  background-image: url('../resource/image/button_menu_white.png');
}
nav.control .button-minimize {
  background-image: url('../resource/image/button_minimize_white.png');
}
nav.control .button-maximize {
  background-image: url('../resource/image/button_maximize_white.png');
}
nav.control .button-restore {
  background-image: url('../resource/image/button_restore_white.png');
}
nav.control .button-close {
  background-image: url('../resource/image/button_close_white.png');
}
nav.control .button-close:hover {
  background-color: #e74c3c;
}
.text {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  justify-content: center;
  width: 480px;
  font-size: 14px;
}
.text > * {
  -webkit-flex: 1;
  flex: 1;
}
.text > * {
  -webkit-flex: none;
  flex: none;
}
/*
ul.task{
    &.end{
        color: green;
    }

    &.pre{
        color: black;
    }

    &.run{
        color: blue;
    }

    &.err{
        color: red;
    }

    >li{
    }
}
*/
.dialog {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: none;
  cursor: pointer;
  /*
    >*:before{
        content:'';
        position:fixed;
        left:0;
        top:0;
        height:100%;
        width:100%;
        .transparent-white(0.5);
    }
    */
}
.dialog > * {
  -webkit-flex: 1;
  flex: 1;
}
.dialog > * {
  cursor: default;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 30px;
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  background-color: white;
  display: none;
  color: black;
}
.dialog > * > * {
  -webkit-flex: 1;
  flex: 1;
}
.dialog h1,
.dialog h2,
.dialog h3,
.dialog h4,
.dialog h5,
.dialog h6 {
  border-bottom: 1px solid black;
}
.dialog form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
.dialog form > * {
  -webkit-flex: 1;
  flex: 1;
}
.dialog .create > * {
  -webkit-flex: none;
  flex: none;
  margin-top: 10px;
}
.dialog .create ul.list {
  /*
            height:100%;
            width:100%;
            */
  height: calc(100% - 70px);
  width: 480px;
  overflow: auto;
  margin: 0;
}
.dialog .create ul.list span.type {
  color: orange;
}
.dialog .create ul.list span.name,
.dialog .create ul.list span.type {
  font-size: 16px;
}
.dialog .create textarea {
  white-space: nowrap;
  overflow: auto;
  width: 480px;
  height: 240px;
}
.dialog .setup {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  display: none;
}
.dialog .setup > * {
  -webkit-flex: 1;
  flex: 1;
}
.dialog .setup ul.list {
  -webkit-flex: none;
  flex: none;
  width: 165px;
}
.dialog .setup ul.list li {
  color: black;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.dialog .setup ul.list li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.dialog .setup ul.content {
  height: 100%;
  overflow-y: auto;
}
.dialog .setup ul.content li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  display: none;
}
.dialog .setup ul.content li > * {
  -webkit-flex: 1;
  flex: 1;
}
.dialog .setup li.config form > * {
  -webkit-flex: none;
  flex: none;
}
.dialog .update > * {
  -webkit-flex: none;
  flex: none;
}
.dialog .feedback > * {
  -webkit-flex: none;
  flex: none;
  margin-top: 10px;
}
.dialog .feedback textarea {
  width: 480px;
  height: 240px;
}
.dialog .exit > * {
  -webkit-flex: none;
  flex: none;
}
.main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  height: 100%;
}
.main > * {
  -webkit-flex: 1;
  flex: 1;
}
.main aside {
  background-color: #3f51b5;
  -webkit-flex: none;
  flex: none;
  width: 165px;
}
.main aside ul li {
  color: white;
  height: 30px;
  line-height: 30px;
  padding-left: 50px;
}
.main aside ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.main > ul {
  background-color: rgba(255, 255, 255, 0.1);
  overflow-y: auto;
}
.main > ul > li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}
.main > ul > li > * {
  -webkit-flex: 1;
  flex: 1;
}
.main > ul .task {
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  font-size: 14px;
  /*
            line-height: 30px;
            height: 30px;
            */
}
.main > ul .task > * {
  -webkit-flex: 1;
  flex: 1;
}
.main > ul .task:not(:last-child) {
  border-bottom: 1px solid black;
}
.main > ul .task > * {
  display: block;
}
.main > ul .task img {
  -webkit-flex: none;
  flex: none;
}
.main > ul .task span.type {
  margin-right: 5px;
}
.main > ul .track {
  font-size: 12px;
  /*
            line-height: 30px;
            height: 30px;
            */
  border-bottom: 1px solid black;
  background-repeat: no-repeat;
  background-size: 0% 40px;
}
.main nav {
  background-color: #3f51b5;
  -webkit-flex: none;
  flex: none;
  width: 40px;
}
.main nav > * {
  width: 40px;
  height: 40px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}
.main nav > *:hover {
  background-color: #3498db;
}
.main nav .button-create {
  background-image: url('../resource/image/button_create_white.png');
}
.main nav .button-setup {
  background-image: url('../resource/image/button_setup_white.png');
}
body > footer {
  -webkit-app-region: no-drag;
  -webkit-flex: none;
  flex: none;
  background-color: rgba(0, 0, 0, 0.3);
  height: 32px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-flex: none;
  flex: none;
}
