<div id="download" class="flex-column">
    <header>
        <form data-ng-submit="createTask()" id="create" class="flex flex-row flex-align-center">
            <input type="url" name="url" data-ng-model="url" data-ng-click="getUrlFromClip()" data-ng-change="urlChange()" /><button type="submit">新建下载任务</button>
        </form>
    </header>
    <article class="flex-row">
        <aside id="info" data-ng-show="selected" class="flex-column flex-3">
            <img data-ng-src="{{ selected.picture.url | picSize:5 }}" />
            <div>
                <p>歌名: {{ selected.song.name }}</p>
                <p>艺术家: {{ selected.artist.name }}</p>
                <p>专辑: {{ selected.album.name }}</p>
            </div>
        </aside>
        <ul id="list" class="flex-7">
            <li data-ng-repeat="task in taskList" data-xt-process="task.index" data-ng-click="select(task)" data-index="{{ task.index }}">
            {{ task.song.name }}
            </li>
        </ul>
    </article>
</div>