<div id="help">
	<br/>
	<br/>
	<p>欢迎使用XiamiThief v0.5 Beta, 这是一个虾米音乐网的试听音乐下载器, 支持登录VIP帐号下载接近320kbps的试听音乐.</p>
	<p>以下是一些你在使用XiamiThief v0.5 Beta时可能遇到的问题:</p>
	<p>Q:为什么我登录了帐号下载过来的音乐还是低音质?</p>
	<p>A:有2种可能性, 1是你的帐号不是VIP或者在官网把试听音质设置为了低音质, 2是该音乐在虾米网的试听中只有低音质版本</p>
	<br/>
	<p>Q:为什么在下载时会出现大量失败(进度变为红色)?</p>
	<p>A:虾米网对于批量下载音乐设置了一定的防范措施, 下载失败是因为你的IP地址被暂时列入了虾米服务器的黑名单, 一般会在几个小时后恢复, 你可以在设置中降低"最大同时下载数"来防止被列入黑名单. 还有一种情况是虾米网的服务器不稳定(这种情况经常出现).</p>
	<br/>
	<p>Q:自定义命名有哪些可用变量?</p>
	<div>
		<p>A:</p>
		<p>对于单首歌曲, 支持以下变量</p>
		<p>%NAME%	歌曲名称</p>
		<p>%ARTIST%	歌手名称</p>
		<p>%ALBUM%	专辑名称</p>
		<br/>
		<p>对于专辑名称, 支持以下变量:</p>
		<p>%NAME%	专辑名称</p>
		<p>%ARTIST%	歌手名称</p>
		<p>%COMPANY%	唱片公司名称</p>
		<p>%TIME%	发行时间</p>
		<p>%LANGUAGE%	语种</p>
	</div>
	<br/>
	<p>Q:我的电脑配置很低, 在使用XiamiThief时遇到了卡顿, 该怎么解决?</p>
	<p>A:把窗口最小化或者切换到"设置"或"帮助"选项卡有助于解决这个问题.</p>
	<br/>
	<p>Q:"设置"中的"高级"是做什么的?</p>
	<p>A:那里是一些尚未完善的功能和供开发人员调试用的功能, 不推荐使用.</p>
	<br/>
	<p>Q:XiamiThief v0.6将会在什么时候发布?</p>
	<p>A:等到XiamiThief v0.5不能继续使用的时候, 我会考虑继续开发v0.6. XiamiThief是开源软件, 可能会有其他人接手开发, 所以准确的完成时间我也说不清.</p>
	<br/>
	<p>BlackGlory</p>
	<p>2013年10月1日</p>
	<br/>
	<br/>
</div>
