<div id="option" class="flex-row">
    <header class="flex-2">
        <ul>
            <li data-ng-click="account()" data-ng-class="{'padding-left':accountShow}">帐号</li>
            <li data-ng-click="download()" data-ng-class="{'padding-left':downloadShow}">下载</li>
            <li data-ng-click="advanced()" data-ng-class="{'padding-left':advancedShow}">高级</li>
        </ul>
    </header>
    <article class="flex-8">
        <ul>
            <li data-ng-controller="OptionAccountCtrl" data-ng-show="accountShow">
                <div data-ng-hide="logged">
                    <form data-ng-submit="login()">
                        <label for="email">用户名:</label>
                        <input id="email" data-ng-model="email" type="email"/>
                        <label for="password">密码:</label>
                        <input id="password" data-ng-model="password" type="password"/>
                        <div data-ng-show="validateUrl">
                            <label for="validateUrl">验证码:</label>
                            <input id="validate" data-ng-model="validate" type="text">
                            <img data-ng-src="{{ validateUrl }}" />
                        </div>
                        <label for="rememberAccount"><input id="rememberAccount" data-ng-model="rememberAccount" type="checkbox"/>记住我</label>
                        <button type="submit">登录</button>
                        <p data-ng-show="errorInfo">{{ errorInfo }}</p>
                    </form>
                </div>
                <div data-ng-show="logged">
                    <p>UID: {{ info.uid }}</p>
                    <p data-ng-show="info.vip == '1'">VIP帐号</p>
                    <p data-ng-hide="info.vip == '1'">普通帐号</p>
                    <button data-ng-click="logout()">注销</button>
                </div>
            </li>
            <li data-ng-controller="OptionDownloadCtrl" data-ng-show="downloadShow">
                <form data-ng-submit="save()">
                    <label for="localSavePath">保存路径:</label>
                    <input id="localSavePath" type="text" data-ng-model="localSavePath" /><button data-ng-click="chooseLocalSavePath(localSavePath)">选择</button>
                    <label for="foldernameFormat">目录名格式(仅对专辑下载有效):</label>
                    <input id="foldernameFormat" type="text" data-ng-model="foldernameFormat" /> 预览: {{ foldernameFormat | preview:'album' }}
                    <label for="filenameFormat">文件名格式:</label>
                    <input id="filenameFormat" type="text" data-ng-model="filenameFormat" /> 预览: {{ filenameFormat | preview:'song' }}
                    <label for="taskLimit">最大同时任务数:</label>
                    <input id="taskLimit" type="number" max="10" min="1" step="1" data-ng-model="taskLimit" />
                    <label for="lyric"><input id="lyric" type="checkbox" data-ng-model="lyric" />同时下载歌词</label>
                    <label for="picture"><input id="picture" type="checkbox" data-ng-model="picture" />同时下载封面</label>
                    <label for="id3v23"><input id="id3v23" type="checkbox" data-ng-model="id3v23" />自动添加ID3V2.3信息</label>
                    <label for="filenameTrackId"><input id="filenameTrackId" type="checkbox" data-ng-model="filenameTrackId" />下载专辑时在文件名上添加音轨号(例如"01 - 歌曲")</label>
                    <label for="artistFolder"><input id="artistFolder" type="checkbox" data-ng-model="artistFolder" />下载专辑时以"歌手/专辑"的目录格式分类保存</label>
                    <label for="newTaskRetry"><input id="newTaskRetry" type="checkbox" data-ng-model="newTaskRetry" />若新建下载失败则进行自动重试</label>
                    <button type="submit">保存</button>
                </form>
            </li>
            <li data-ng-controller="OptionAdvancedCtrl" data-ng-show="advancedShow">
                <p>以下内容为实验性功能和开发用功能, 请慎用</p>
                <label for="nonVipHq"><input id="nonVipHq" type="checkbox" data-ng-model="nonVipHq" data-ng-change="nonVipHqChange()"/>普通用户高音质</label>
                <button data-ng-click="showDevTools()">开发工具</button>
                <button data-ng-click="showLog()">查看日志</button>
            </li>
        </ul>
    </article>
</div>
