.title(ng-show='step === 1') 在下方输入你要下载的音乐所在页面的URL地址, 多个URL请换行.
textarea.links(autofocus, ng-show='step === 1', ng-model='links', right-click='popupMenuEditor($event)', ng-paste='pasteHandle()')
button.submit(ng-show='step === 1', ng-click='analyze()') 分析
ul.list(ng-show='step === 2')
    li(ng-repeat='(taskIndex, task) in data')
        input(id='task{{ taskIndex }}', type='checkbox', ng-click='checkAll($index)', ng-model='task.checkAll')
        label(for='task{{ taskIndex }}')
            span.type {{ task.type | type2name }} 
            span.name {{ task.name }}
        span(ng-click='task.expand = !task.expand', ng-class='{"expand-up": task.expand,"expand-down": !task.expand}')
        ul(ng-show='task.expand')
            li(ng-repeat='(trackIndex, track) in task.list')
                input(id='task{{ taskIndex }}-{{ trackIndex }}', type='checkbox', checklist-model='task.checked', checklist-value='track', ng-model='checked', ng-click='check(taskIndex, trackIndex)')
                label(for='task{{ taskIndex }}-{{ trackIndex }}')|{{ track.song.name }}
.flex-row(ng-show='step === 2')
    button(ng-click='createTask()') 下载
    button(ng-click='step = 1') 放弃